@model twd_project.Models.BuildModule

@{
    ViewBag.Title = "BuildModule";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string message = ViewBag.Message;    
}
<div class="container">
    <!-- ******************* Heading ******************* -->
    <h2>Module <small>Build</small>&nbsp;&nbsp;-&nbsp;&nbsp; @Html.DisplayFor(model => model.ModuleName)</h2>
    <hr /><br />

    <p>@message</p>

    <div class="row">

        <!-- ******************* Navigation ******************* -->
        <div class="col-lg-4 col-lg-offset-1">
            <h4 style="line-height: 1.4em;width:200px;display:inline;"><strong>@Html.ActionLink(@Model.IntakeName, "BuildIntake", new { intakeId = @Model.IntakeId })</strong><br />
                &nbsp;&nbsp;&nbsp;&nbsp;@Model.ModuleName
            </h4><hr style="margin:0;" />
                
            <div class="col-lg-offset-1">
               <table>
                    @{  int totalPC = 0;
                        foreach (twd_project.Course item in Model.Courses) {
                            <tr><td class="text-right">@item.courseWeight  % -</td><td>@Html.ActionLink(@item.course1, "BuildCourse", new { intakeId = @Model.IntakeId, courseId = @item.courseId })</td></tr>

                            totalPC += Convert.ToInt32(item.courseWeight);                
                        }   

                        <tr><td>@totalPC.ToString() % -</td><td>Total</td></tr>
                    }
                </table>
            </div>
        </div>

    <!-- ******************* Add to existing Course ******************* -->
        <div class="col-lg-6"><br />
            <button class="btn btn-primary" style="width: 200px;" data-toggle="modal" data-target="#addCourseModal">Add a course</button>&nbsp;&nbsp;
            <button class="btn btn-primary" style="width: 200px;" data-toggle="modal" data-target="#removeCourseModal">Remove a course</button>
        </div>
    </div>

    <!-- ******************* Add Course Modal ******************* -->
    <div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div style="margin-left:40px;margin-right:50px;margin-top:20px;height:410px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="addCourseLabel">Add new Course</h3>
                </div>
            
                <div class="modal-body">
                    <form class="form-horizontal" action="/Admin/AddCourse" method="post" role="form">
                        <input type="hidden" name="moduleId" value="@Html.DisplayFor(model => model.ModuleId)">
                        <input type="hidden" name="intakeId" value="@Html.DisplayFor(model => model.IntakeId)">
                        <div class="form-group">
                            Course        <br /><input class="form-control" type="text" name="course"><br />
                            Course Weight <br /><input class="form-control" type="text" name="courseWeight"><br />
                            Course Hours  <br /><input class="form-control" type="text" name="courseHours"><br />
                        </div>

			            <div>
				            <div class="controls">
					            <input type="submit" class="btn btn-primary" value="Add new Course" />
				            </div>
			            </div>
		            </form>
                </div><!-- /.modal-body -->
               </div><!-- content styling -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- ******************* Remove Course Modal ******************* -->
    <div class="modal fade" id="removeCourseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div style="margin-left:40px;margin-right:50px;margin-top:20px;height:250px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="removeCourseLabel">Remove Course</h3>
                </div>
            
                <div class="modal-body">
                    <form class="form-horizontal" action="/Admin/RemoveCourse" method="post" role="form">
                        <input type="hidden" name="moduleId" value="@Html.DisplayFor(model => model.ModuleId)">
                        <input type="hidden" name="intakeId" value="@Html.DisplayFor(model => model.IntakeId)">

                        <select class="form-control" name="courseId">
                            @{  foreach (twd_project.Course item in Model.Courses) {
                                    <option value="@item.courseId">@item.course1</option>
                                }   
                            }
                        </select><br /><br />

			            <div>
				            <div class="controls">
					            <input type="submit" class="btn btn-primary" value="Remove Course" />
				            </div>
			            </div>
		            </form>
                </div><!-- /.modal-body -->
               </div><!-- content styling -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@*    @Scripts.Render("~/Resources/js/buildModule.js")*@
}