@model twd_project.ViewModels.BuildCourse

@{
    ViewBag.Title = "BuildCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string message = ViewBag.Message;
}
<div class="container">
    <!-- ******************* Heading ******************* -->
    <h2>Course <small>Build</small>&nbsp;&nbsp;-&nbsp;&nbsp; @Html.DisplayFor(model => model.CourseName)
    @{  
        int i = Model.CourseInstructors.Count;
        string instructor = "";
        string and = "";
        if (i>1) {
            instructor = "Instructors";
            and = "and";
        } else {
            instructor = "Instructor";
        }
    }
    <small class="text-center">&nbsp;&nbsp;&nbsp;&nbsp; @instructor:&nbsp;&nbsp;

       @{  foreach (twd_project.ViewModels.Instructor item in Model.CourseInstructors)       {
                <span>@item.Name @and</span>
                and = "";
            }   
        }

    </small></h2><hr /><br />

    <p>@message</p>

    <div class="row">

        <!-- ******************* Navigation ******************* -->
        <div class="col-lg-4 col-lg-offset-1">
            <h4 style="line-height: 1.4em;width:200px;display:inline;"><strong>@Html.ActionLink(@Model.IntakeName, "BuildIntake", new { intakeId = @Model.IntakeId })<br />
                &nbsp;&nbsp;&nbsp;&nbsp;@Html.ActionLink(@Model.ModuleName, "BuildModule", new { intakeId = @Model.IntakeId, moduleId = @Model.ModuleId })</strong>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.CourseName
            </h4><hr style="margin:0;" />

            <div class="col-lg-offset-1">
                <table>
                    @{  int totalPC = 0;
                        foreach (twd_project.CourseEntity item in Model.CourseEntities) {
                            <tr><td class="text-right">@item.courseEntityWeight  % - </td><td>@Html.ActionLink(@item.courseEntity1, "BuildCourseEntity", new { intakeId = @Model.IntakeId, courseEntityId = @item.courseEntityID })</td></tr>
                   
                            totalPC += Convert.ToInt32(item.courseEntityWeight);                
                        }   

                        <tr><td>@totalPC.ToString() % -</td><td>Total</td></tr>
                    }
                </table>
            </div><br />
        </div>

        <!-- ******************* Add to existing Course Entity ******************* -->
        <div class="col-lg-6"><br />
            <button class="btn btn-primary" style="width: 200px;" data-toggle="modal" data-target="#addCourseEntityModal">Add course entity</button>&nbsp;&nbsp;
            <button class="btn btn-primary" style="width: 200px;" data-toggle="modal" data-target="#removeCourseEntityModal">Remove course entity</button><br /><br /><br /><br />

            <button class="btn btn-primary" style="width: 200px;" data-toggle="modal" data-target="#addInstructorModal">Add instructor</button>&nbsp;&nbsp;
            <button class="btn btn-primary" style="width: 200px;" data-toggle="modal" data-target="#removeInstructorModal">Remove instructor</button>
        </div>
    </div>

    <!-- ******************* Add Course Entity Modal ******************* -->
    <div class="modal fade" id="addCourseEntityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 450px;">
            <div class="modal-content">
                <div style="margin-left:50px;margin-right:50px;margin-top:20px;height:350px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="addCourseEntityLabel">Add new Course Entity</h3>
                </div>
            
                <div class="modal-body">
                    <form class="form-horizontal" action="/Admin/AddCourseEntity" method="post" role="form">
                        <div class="form-group">
                            <input type="hidden" name="courseId" value="@Html.DisplayFor(model => model.CourseId)">
                            <input type="hidden" name="intakeId" value="@Html.DisplayFor(model => model.IntakeId)">

                            Course Entity <br /><input class="form-control" type="text" name="courseEntity"><br />
                            Course Entity Weight <br /><input class="form-control" type="text" name="courseEntityWeight"><br />
                        </div>
			            <div>
				            <div class="controls">
					            <input type="submit" class="btn btn-primary" value="Add Course Entity" />
				            </div>
			            </div> 
		            </form>
                </div><!-- /.modal-body -->
               </div><!-- content styling -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- ******************* Remove Course Entity Modal ******************* -->
    <div class="modal fade" id="removeCourseEntityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 450px;">
            <div class="modal-content">
                <div style="margin-left:50px;margin-right:50px;margin-top:20px;height:250px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="removeCourseEntityLabel">Remove Course Entity</h3>
                </div>
            
                <div class="modal-body">
                    <form class="form-horizontal" action="/Admin/RemoveCourseEntity" method="post" role="form">
                         <input type="hidden" name="courseId" value="@Html.DisplayFor(model => model.CourseId)">
                         <input type="hidden" name="intakeId" value="@Html.DisplayFor(model => model.IntakeId)">

                        <select class="form-control" name="courseEntityID">
                            @{  foreach (twd_project.CourseEntity item in Model.CourseEntities) {
                                    <option value="@item.courseEntityID">@item.courseEntity1</option>
                                }   
                            }
                        </select><br /><br />

			            <div>
				            <div class="controls">
					            <input type="submit" class="btn btn-primary" value="Remove Course Entity" />
				            </div>
			            </div>
		            </form>
                </div><!-- /.modal-body -->
               </div><!-- content styling -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- ******************* Add Instructor Modal ******************* -->
    <div class="modal fade" id="addInstructorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 450px;">
            <div class="modal-content">
                <div style="margin-left:50px;margin-right:50px;margin-top:20px;height:240px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="addInstructorLabel">Add new Instructor</h3>
                </div>
            
                <div class="modal-body">
                    <form class="form-horizontal" action="/Admin/AddInstructor" method="post" role="form">
                        <input type="hidden" name="courseId" value="@Html.DisplayFor(model => model.CourseId)">
                        <input type="hidden" name="intakeId" value="@Html.DisplayFor(model => model.IntakeId)">

                        <select class="form-control" name="userId">
                            @{  foreach (twd_project.TWD_User item in Model.AllMarkers) {
                                    <option value="@item.userId">@item.firstName @item.lastName</option>
                                }   
                            }
                        </select>
                        <br />
			            <div>
				            <div class="controls">
					            <input type="submit" class="btn btn-primary" value="Add Instructor" />
				            </div>
			            </div> 
		            </form>
                </div><!-- /.modal-body -->
               </div><!-- content styling -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- ******************* Remove Instructor Modal ******************* -->
    <div class="modal fade" id="removeInstructorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 450px;">
            <div class="modal-content">
                <div style="margin-left:50px;margin-right:50px;margin-top:20px;height:240px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="removeInstructorLabel">Remove Instructor</h3>
                </div>
            
                <div class="modal-body">
                    <form class="form-horizontal" action="/Admin/RemoveInstructor" method="post" role="form">
                        <input type="hidden" name="courseId" value="@Html.DisplayFor(model => model.CourseId)">
                        <input type="hidden" name="intakeId" value="@Html.DisplayFor(model => model.IntakeId)">

                        <select class="form-control" name="userId">
                            @{  foreach (twd_project.ViewModels.Instructor item in Model.CourseInstructors) {
                                    <option value="@item.UserId">@item.Name</option>
                                }   
                            }
                        </select>
                        <br />

			            <div>
				            <div class="controls">
					            <input type="submit" class="btn btn-primary" value="Remove Instructor" />
				            </div>
			            </div>
		            </form>
                </div><!-- /.modal-body -->
               </div><!-- content styling -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
@*    @Scripts.Render("~/Resources/js/buildCourse.js")//////////////////////////////////////////////////////*@
}
