@model twd_project.ViewModels.BuildIntake

@{
    ViewBag.Title = "BuildIntake";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string message = ViewBag.Message;
}
<div class="container">
    <!-- ******************* Heading ******************* -->
    <h2>Intake <small>Build</small>&nbsp;&nbsp;-&nbsp;&nbsp; @Html.DisplayFor(model => model.IntakeName)  &nbsp;&nbsp;<small>@Model.StartDate &nbsp;&nbsp; to &nbsp;&nbsp;@Model.EndDate</small></h2><hr />

    <p class="col-lg-offset-1">@message</p>

    <div class="row">
       @* <form action="/Home/CreateIntake" method="post" role="form" style="width:270px">
            <p><input class="btn btn-default  col-lg-offset-1" type="submit" value="Create a new Intake" /></p>
        </form>*@

        <!-- ******************* Navigation ******************* -->
        <div class="col-lg-4 col-lg-offset-1">

            <div class="col-lg-offset-1">
                <table>
                    @{  int totalPC = 0;

                        foreach (twd_project.Module item in Model.Modules) {
                            <tr><td class="text-right">@item.moduleWeight  Credits -</td><td>@Html.ActionLink(@item.module1, "BuildModule", new { intakeId = @Model.IntakeId, moduleId = @item.moduleId })</td></tr>
                            totalPC += Convert.ToInt32(item.moduleWeight);                
                        }   
                        <tr><td>@totalPC.ToString() Credits </td><td>Total</td></tr>
                    }
                </table>
            </div><br />

            <!-- ******************* Student list ******************* -->
            <div class="">
                <h4 style="width:200px;display:inline">
                    <span>Students</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @*<button style="width: 140px; font-size: .8em;" data-toggle="modal" data-target="#emailStudentModal" onclick="allStudents()">Email All Students</button>*@
                </h4><hr style="margin:0;" />
            
                <div class="col-lg-offset-1">
                    <table style="width:300px">
                        @{  for (int i = 0; i < Model.Students.Count(); i++ ) {
                                @Html.Raw("<tr><td>")@Model.Students[i].firstName @Model.Students[i].lastName@Html.Raw("</td>")

                                    try {
                                        @Html.Raw("<td>") @Model.Students[i+1].firstName @Model.Students[i+1].lastName @Html.Raw("</td>")
                                    } catch {

                                    }
                                @Html.Raw("</tr>")
                                i++; i++;
                            }
                        }
                    </table>
                </div>
            </div>
        </div><br /><br /><br />

        <!-- ******************* Add/Remove Intake Buttons ******************* -->
        <div class="col-lg-6">
            <button class="btn btn-primary" style="width: 200px;" data-toggle="modal" data-target="#createIntakeModal">Add Intake</button>&nbsp;&nbsp;
            <button class="btn btn-primary" style="width: 200px;" data-toggle="modal" data-target="#removeIntakeModal">Remove Intake</button>
            @*<button class="btn btn-primary" style="width: 200px;" data-toggle="modal" data-target="#updateIntakeModal">Update Intake</button>*@
        </div><br /><br /><br /><br />
        <!-- ******************* Add to existing module ******************* -->
        <div class="col-lg-6"><br /> 
            <button class="btn btn-primary" style="width: 200px;" data-toggle="modal" data-target="#addStudentModal">Add student</button>&nbsp;&nbsp;
            <button class="btn btn-primary" style="width: 200px;" data-toggle="modal" data-target="#removeStudentModal">Remove student</button>
            @*<button class="btn btn-primary" style="width: 200px;" data-toggle="modal" data-target="#removeStudentModal">Update student</button>*@
        </div>
    </div>

    <!-- ******************* Create Intake Modal ******************* -->
    <div class="modal fade" id="createIntakeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div style="margin-left:50px;margin-right:50px;margin-top:20px;height:350px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="createIntakeLabel">Create Intake</h3>
                </div>
            
                <div class="modal-body">
                    <form class="form-horizontal" action="/Admin/AddIntake" method="post" role="form">
                        @{  string intakePrefix = Model.Intakes[0].intake1.Substring(0, 3);

                            int intakeNumber = Convert.ToInt32(Model.Intakes[0].intake1.Substring(3, 2)) + 1;
                            string newIntake = "";
                            if (intakeNumber < 10) {
                                newIntake = intakePrefix + "0" + intakeNumber;
                            } else {
                                newIntake = intakePrefix + intakeNumber;
                            }
                        }

                        <div class="form-group">
                            <input class="form-control" type="text" name="intake1" value="@newIntake"><br />
                            <input type="date" id="startDate" name="startDate"/>&nbsp;<span>Start Date</span><br /><br />
                            <input type="date" id="endDate" name="endDate"/>&nbsp;<span>End Date</span><br /><br />
                        </div>

			            <div>
				            <div class="controls">
					            <input type="submit" class="btn btn-primary" value="Create New Intake" />
				            </div>
			            </div>
		            </form>
                    </div><!-- /.modal-body -->
                </div><!-- content styling -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- ******************* Remove Intake Modal ******************* -->
    <div class="modal fade" id="removeIntakeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div style="margin-left:40px;margin-right:50px;margin-top:20px;height:250px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="removeIntakeLabel">Remove Intake</h3>
                </div>
            
                <div class="modal-body">
                    <form class="form-horizontal" action="/Admin/RemoveIntake" method="post" role="form">
                        <input type="hidden" name="intakeId" value="@Html.DisplayFor(model => model.IntakeId)">

                        <select class="form-control" name="removeIntake">
                            @{  foreach (twd_project.Intake item in Model.Intakes) {
                                    <option value="@item.intakeId">@item.intake1</option>
                                } 
                            }
                        </select><br /><br />

				        <div class="controls">
					        <input type="submit" class="btn btn-primary" value="Remove Intake" />
				        </div>
		            </form>
                </div><!-- /.modal-body -->
               </div><!-- content styling -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- ******************* Email Student Modal ******************* -->
    <div class="modal fade" id="emailStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div style="margin-left:30px;margin-right:50px;margin-top:20px;height:475px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="emailStudentLabel">Email</h3>
                </div>
            
                <div class="modal-body">
                    <form id="modalEmailForm" class="form-horizontal" action="/Admin/StudentEmail" method="post" role="form">
                        <input type="hidden" name="intakeId" value="@Html.DisplayFor(model => model.IntakeId)">
                        <input type="hidden" id="emailStudentName" name="userName">

			            <div class="control-group">
				            <label for="contact-name" class="control-label">Subject:</label>
					
				            <div class="controls">
					            <input type="text" name="subject"/>
				            </div>
			            </div>

			            <div class="control-group">
				            <label for="contact-message" class="control-label">Message:</label>
					
				            <div class="controls">
					            <textarea name="body" cols="30" rows="10"></textarea>
				            </div>
			            </div><br />
				
			            <div class="control-group">
				            <div class="controls">
					            <input id="sendEmailButton" type="submit" class="btn btn-primary" value="Send to all Students" />
				            </div>
			            </div>
		            </form>
                </div><!-- /.modal-body -->
               </div><!-- content styling -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- ******************* Add Student Modal ******************* -->
    <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div style="margin-left:40px;margin-right:50px;margin-top:20px;height:500px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="addStudentLabel">Add New Student</h3>
                </div>
            
                <div class="modal-body">
                    <form class="form-horizontal" action="/Admin/AddStudent" method="post" role="form">
                        <div class="form-group">
                            <input type="hidden" name="intakeId" value="@Html.DisplayFor(model => model.IntakeId)">

                            Username    <br /><input class="form-control" type="text" name="userName"><br />
                            BCIT Number <br /><input class="form-control" type="text" name="bcitId"><br />
                            First name  <br /><input class="form-control" type="text" name="firstName"><br />
                            Last name   <br /><input class="form-control" type="text" name="lastName"><br />
                        </div>

			            <div>
				            <div class="controls">
					            <input type="submit" class="btn btn-primary" value="Add new student" />
				            </div>
			            </div>
		            </form>
                </div><!-- /.modal-body -->
               </div><!-- content styling -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- ******************* Remove Student Modal ******************* -->
    <div class="modal fade" id="removeStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px;">
            <div class="modal-content">
                <div style="margin-left:40px;margin-right:50px;margin-top:20px;height:230px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="removeStudentLabel">Remove Student</h3>
                </div>
            
                <div class="modal-body">
                    <form class="form-horizontal" action="/Admin/RemoveStudent" method="post" role="form">

                        <input type="hidden" name="intakeId" value="@Html.DisplayFor(model => model.IntakeId)">

                        <select class="form-control" name="username">
                            @{  foreach (twd_project.TWD_User item in Model.Students) {
                                    <option value="@item.userName">@item.firstName @item.lastName</option>
                                }                    
                            }
                        </select>
                        <br />

				        <div class="controls">
					        <input type="submit" class="btn btn-primary" value="Remove student" />
				        </div>
		            </form>
                </div><!-- /.modal-body -->
               </div><!-- content styling -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Resources/js/buildEmail.js")
}