@model twd_project.ViewModels.RegisterModel

@{
    ViewBag.Title = "RegisterUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="container">

<div class="col-lg-6 right">
    <div class="well">
        @using (Html.BeginForm("RegisterUser", "Admin", FormMethod.Post, new { @class = "bs-example form-horizontal" })) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>Register User</legend>
                <div class="form-group">
                    <label for="role" class="col-lg-3 control-label">Select Role</label>
                    <div class="col-lg-9">
                      <select class="form-control" name="Role" id="role" onChange="addIntake();">
                        <option value="Administrator">Administrator</option>
                        <option value="Instructor">Instructor</option>
@*                        <option value="Student">Student</option>*@
                      </select>
                    </div>
                  </div>
                  <div class="form-group" id="intakeDropdown" style="display:none">
                    <label for="role" class="col-lg-3 control-label">Select Intake</label>
                    <div class="col-lg-9">
                        <select class="form-control" name="Intake">
                            @{
                                //List<string> intakes = ViewBag.Intakes;

                                foreach (twd_project.Intake intake in ViewBag.Intakes) {
                                    <option value="@intake.intakeId">@intake.intake1</option>
                                } 
                            }
                        </select>
                    </div>
                  </div>
                <div class="form-group">
                    <label for="companyName" class="col-lg-3 control-label">Username</label>
                    <div class="col-lg-9">
                        <input class="form-control" data-val="true" data-val-required="The Email field is required." id="UserName" name="UserName" type="text" placeholder="Enter BCIT Email" />
                        @Html.ValidationMessageFor(model => model.UserName)
                    </div>
                </div>
                <div class="form-group">
                    <label for="contactPhone" class="col-lg-3 control-label">BCIT Id</label>
                    <div class="col-lg-9">
                        <input class="form-control" data-val="true" data-val-required="The BCIT Id is required." id="BCITId" name="BCITId" type="text" placeholder="Enter BCIT Id" />
                        </div>
                </div>
                <div class="form-group">
                    <label for="contactLastName" class="col-lg-3 control-label">First Name</label>
                    <div class="col-lg-9">
                        <input class="form-control" data-val="true" data-val-required="The FirstName field is required." id="FirstName" name="FirstName" type="text" placeholder="Enter first name" />
                        @Html.ValidationMessageFor(model => model.FirstName)
                    </div>
                </div>
                <div class="form-group">
                    <label for="contactFirstName" class="col-lg-3 control-label">Last Name</label>
                    <div class="col-lg-9">
                        <input class="form-control" data-val="true" data-val-required="The LastName field is required." id="LastName" name="LastName" type="text" placeholder="Enter last name" />
                        @Html.ValidationMessageFor(model => model.LastName)
                     </div>
                </div>
                <div class="form-group">
                    <label for="contactPhone" class="col-lg-3 control-label">Password</label>
                    <div class="col-lg-9">
                        <input class="form-control" data-val="true" data-val-length="The Password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Password" name="Password" type="password" placeholder="Enter password" />
                        @Html.ValidationMessageFor(model => model.Password)
                     </div>
                </div>
            <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-3">
                        <button id="register" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>              
              }
    </div>
    @{
    if (ViewBag.Message != null) {
        <p>@ViewBag.Message</p>
    }
}
</div>

</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Resources/js/addIntake.js")
}
