<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Resources/css/bootstrap.min.css")
    @Styles.Render("~/Resources/css/styles.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default">
        <div class="navbar-header" style="padding: 9px 35px 0 20px">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="navbar-collapse collapse navbar-responsive-collapse" style="margin-top: 15px; width: 80%;">

            <div class="pull-right" style="margin-bottom: 20px;">
            </div>
        </div>
        <!-- /.nav-collapse -->
    </div>
    <section class="container">

        @RenderBody()

    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Resources/js/bootstrap.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
