<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Resources/css/bootstrap.min.css")
    @Styles.Render("~/Resources/css/styles.css")
    @Scripts.Render("~/bundles/modernizr")
    
   @{  @*int userIntakeId = ViewBag.UserIntakeId;*@
       List<twd_project.Intake> intakes = ViewBag.Intakes;
       twd_project.Intake intake = ViewBag.Intake;
       string role = ViewBag.Role;
       int userId = ViewBag.UserId;
       string home = @intake.intake1 + " - Home";
       
    }
</head>

<body>
    <div class="navbar navbar-default" >
        <div class="navbar-header" style="padding: 9px 35px 0 20px">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
             @{  switch (role) {
                    case "Administrator":
                            <span style="font-size: 1.5em; display:inline-block; vertical-align:middle;">@Html.ActionLink(@home, "AdminArea", "Admin", new { intakeId = @intake.intakeId }, null) </span>
                         break;
                    case "Instructor":
                            <span style="font-size: 1.5em; display:inline-block; vertical-align:middle;">@Html.ActionLink(@home, "InstructorArea", "Instructor", new { intakeId = @intake.intakeId }, null) </span>
                        break;
                    case "Student":
                            <span style="font-size: 1.5em; display:inline-block; vertical-align:middle;">@Html.ActionLink(@home, "StudentArea", "Stu", new { studentUserId = @userId }, null) </span>
                        break;
                    default:
                        break;
                    }
                }
        </div>

        <div class="navbar-collapse collapse navbar-responsive-collapse" style="margin-top:15px;width:80%;">
            
            @{  switch (role) {
                    case "Administrator":
                        @Html.Raw("<ul style='display:inline'>");
                            @Html.Raw("<li class='dropdown' style='display:inline'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>Change Intake<b class='caret'></b></a>");
                                @Html.Raw("<ul class='dropdown-menu'>");
                                    foreach (twd_project.Intake item in ViewBag.Intakes) {
                                        @Html.Raw("<li>") @Html.ActionLink( @item.intake1, "AdminArea", "Admin", new { intakeId = @item.intakeId }, null) @Html.Raw("</li>")
                                    }
                                @Html.Raw("</ul>");
                            @Html.Raw("</li>");
                        @Html.Raw("</ul>");
                        break;
                    case "Instructor":
                        @Html.Raw("<ul style='display:inline'>");
                            @Html.Raw("<li class='dropdown' style='display:inline'><a href='#' class='dropdown-toggle' data-toggle='dropdown'>Change Intake<b class='caret'></b></a>");
                                @Html.Raw("<ul class='dropdown-menu'>");
                                    foreach (twd_project.Intake item in ViewBag.Intakes) {
                                        @Html.Raw("<li>") @Html.ActionLink(@item.intake1, "InstructorArea", "Instructor", new { intakeId = @item.intakeId }, null) @Html.Raw("</li>")
                                    }
                                @Html.Raw("</ul>");
                            @Html.Raw("</li>");
                        @Html.Raw("</ul>");                                
                        break;
                    default:
                        break;
                }
            }

            <div class="pull-right" style="margin-bottom: 20px;">
                @{  switch (role) {
                    case "Administrator":
                            <span>@*@Html.ActionLink("Register User",   "RegisterUser",  "Admin", new { intakeId = @intake.intakeId }, null)*@
                                <a href="#" data-toggle="modal" data-target="#registerUser">Register User</a> |</span>
                            <span>@Html.ActionLink("Build Intake" ,   "BuildIntake" ,  "Admin", new { intakeId = @intake.intakeId }, null)  |</span>
                                @*<a href="#" data-toggle="modal" data-target="#changePassword">Change Password</a>*@
                        break;
                    case "Instructor":
                        break;
                    case "Student":
                        break;
                    default:
                        break;
                    }
                                                <span>@Html.ActionLink("Change Password" , "UpdatePassword",  "Home", new { intakeId = @intake.intakeId }, null) |</span>
                    <span>@Html.ActionLink("LogOff", "LogOff", "Home") </span>
                }
            </div>
        </div>
        <!-- /.nav-collapse -->
    </div>

    @RenderBody()

    <!-- ******************* Register User Modal ******************* -->
    <div class="modal fade" id="registerUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 660px;">
            <div class="modal-content">
                <div style="margin-left: 50px; margin-right: 50px; margin-top: 20px; height: 550px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title" id="registerUserLabel">Register User</h3>
                    </div>

                    <div class="modal-body">
                        <div class="well">
                            @using (Html.BeginForm("RegisterUser", "Admin", FormMethod.Post, new { @class = "bs-example form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    <label for="role" class="col-lg-3 control-label">Select Role</label>
                                    <div class="col-lg-9">
                                        <select class="form-control" name="Role" id="role" onchange="addIntake();">
                                            <option value="Administrator">Administrator</option>
                                            <option value="Instructor">Instructor</option>
                                            @*                        <option value="Student">Student</option>*@
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="intakeDropdown" style="display: none">
                                    <label for="role" class="col-lg-3 control-label">Select Intake</label>
                                    <div class="col-lg-9">
                                        <select class="form-control" name="Intake">
                                            @{
                                //List<string> intakes = ViewBag.Intakes;

                                foreach (twd_project.Intake intakeOne in ViewBag.Intakes)
                                {
                                                <option value="@intakeOne.intakeId">@intakeOne.intake1</option>
                                } 
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="companyName" class="col-lg-3 control-label">Username</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" data-val="true" data-val-required="The Email field is required." id="UserName" name="UserName" type="text" placeholder="Enter BCIT Email" />
                                        @*@Html.ValidationMessageFor(model => model.UserName)*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="contactPhone" class="col-lg-3 control-label">BCIT Id</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" data-val="true" data-val-required="The BCIT Id is required." id="BCITId" name="BCITId" type="text" placeholder="Enter BCIT Id" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="contactLastName" class="col-lg-3 control-label">First Name</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" data-val="true" data-val-required="The FirstName field is required." id="FirstName" name="FirstName" type="text" placeholder="Enter first name" />
                                        @*@Html.ValidationMessageFor(model => model.FirstName)*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="contactFirstName" class="col-lg-3 control-label">Last Name</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" data-val="true" data-val-required="The LastName field is required." id="LastName" name="LastName" type="text" placeholder="Enter last name" />
                                        @*@Html.ValidationMessageFor(model => model.LastName)*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="contactPhone" class="col-lg-3 control-label">Password</label>
                                    <div class="col-lg-9">
                                        <input class="form-control" data-val="true" data-val-length="The Password must be at least 6 characters long." data-val-length-max="100" data-val-length-min="6" data-val-required="The Password field is required." id="Password" name="Password" type="password" placeholder="Enter password" />
                                        @*@Html.ValidationMessageFor(model => model.Password)*@
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-3">
                                        <button id="register" type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>             
                            }
                        </div>
                    </div>
                    <!-- /.modal-body -->
                </div>
                <!-- content styling -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Resources/js/bootstrap.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>
