@model twd_project.ViewModels.StudentCertificateGrade

@{  ViewBag.Title = "StudentArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @Html.Raw("<table class='table table-bordered table-hover pull-left' style='width: 700px'>")
        @{ @Html.Raw("<tr> <td colspan='3' nowrap><span style='font-size: 1.5em;'> &nbsp; &nbsp; &nbsp;") @Html.ActionLink(@Model.UserDetail, "StudentArea", "Stu", new { studentUserId = @Model.UserId }, null) @Html.Raw("</span>")
            
                @Html.Raw("<form class='pull-right' style='width: 80px; margin: 0px 40px 0 0;' action='/Stu/ExportStudentIntakeReport' method='post' role='form'>")
                    @Html.Raw("<input type='hidden' name='intakeId' value='")@Html.DisplayFor(model =>  model.IntakeId) @Html.Raw("'>")
                    @Html.Raw("<input type='hidden' name='studentUserId' value='") @Html.DisplayFor(model => model.UserId) @Html.Raw("'>")

                    @Html.Raw("<div class='controls' style='display: block;'>")
					    @Html.Raw("<input type='submit' class='btn btn-primary' value='Export to file' />");
				    @Html.Raw("</div>");

		        @Html.Raw("</form>");
            
            @Html.Raw("</td>")
        
            @Html.Raw("<td style='text-align:center; font-size: 1.5em; vertical-align:text-center;'>Grade</td></tr>")
        }

        @{  foreach (List<string> items in Model.ModuleGroup1) {
                if (@items[0]== "M") {
                    @Html.Raw("<tr bgcolor='#D9FCD2' style='font-weight:bold'>")
                    @Html.Raw("<td nowrap>")@Html.Raw(@items[1])@Html.Raw("</td>")
                } else {
                    @Html.Raw("<tr>")
                    int courseId = Convert.ToInt32(items[0]);
                    @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.ActionLink(@items[1], "ViewCourseGrade", "Stu", new { studentUserId = @Model.UserId, courseId = courseId }, null)@Html.Raw("</td>")
                }

                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[2])@Html.Raw("</td>")
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[3])@Html.Raw("</td>")
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[4])@Html.Raw("</td>")
                @Html.Raw("</tr>")
            } 
        }

        @{  foreach (List<string> items in Model.ModuleGroup2) {
                if (@items[0]== "M") {
                    @Html.Raw("<tr bgcolor='#D9FCD2' style='font-weight:bold'>")
                    @Html.Raw("<td nowrap>")@Html.Raw(@items[1])@Html.Raw("</td>")
                } else {
                    @Html.Raw("<tr>")
                    int courseId = Convert.ToInt32(items[0]);
                    @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.ActionLink(@items[1], "ViewCourseGrade", "Stu", new { studentUserId = @Model.UserId, courseId = courseId }, null)@Html.Raw("</td>")
                }

                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[2])@Html.Raw("</td>")
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[3])@Html.Raw("</td>")
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[4])@Html.Raw("</td>")
                @Html.Raw("</tr>")
            } 
        }

        @{  foreach (List<string> items in Model.ModuleGroup3) {
                if (@items[0]== "M") {
                    @Html.Raw("<tr bgcolor='#D9FCD2' style='font-weight:bold'>")
                    @Html.Raw("<td nowrap>")@Html.Raw(@items[1])@Html.Raw("</td>")
                } else {
                    @Html.Raw("<tr>")
                    int courseId = Convert.ToInt32(items[0]);
                    @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.ActionLink(@items[1], "ViewCourseGrade", "Stu", new { studentUserId = @Model.UserId, courseId = courseId }, null)@Html.Raw("</td>")
                }

                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[2])@Html.Raw("</td>")
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[3])@Html.Raw("</td>")
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[4])@Html.Raw("</td>")
                @Html.Raw("</tr>")
            } 
        }
    
        @{  foreach (List<string> items in Model.ModuleGroup4) {
                if (@items[0]== "M") {
                    @Html.Raw("<tr bgcolor='#D9FCD2' style='font-weight:bold'>")
                    @Html.Raw("<td nowrap>")@Html.Raw(@items[1])@Html.Raw("</td>")
                } else {
                    @Html.Raw("<tr>")
                    int courseId = Convert.ToInt32(items[0]);
                    @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.ActionLink(@items[1], "ViewCourseGrade", "Stu", new { studentUserId = @Model.UserId, courseId = courseId }, null)@Html.Raw("</td>")
                }

                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[2])@Html.Raw("</td>")
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[3])@Html.Raw("</td>")
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[4])@Html.Raw("</td>")
                @Html.Raw("</tr>")
            } 
        }
    
        @{  foreach (List<string> items in Model.ModuleGroup5) {
                if (@items[0]== "M") {
                    @Html.Raw("<tr bgcolor='#D9FCD2' style='font-weight:bold'>")
                    @Html.Raw("<td nowrap>")@Html.Raw(@items[1])@Html.Raw("</td>")
                } else {
                    @Html.Raw("<tr>")
                    int courseId = Convert.ToInt32(items[0]);
                    @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.ActionLink(@items[1], "ViewCourseGrade", "Stu", new { studentUserId = @Model.UserId, courseId = courseId }, null)@Html.Raw("</td>")
                }

                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[2])@Html.Raw("</td>")
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[3])@Html.Raw("</td>")
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[4])@Html.Raw("</td>")
                @Html.Raw("</tr>")
            } 
        }

        @Html.Raw("<tr bgcolor='#FFDBDD' style='font-weight:bold'>")
            @Html.Raw("<td nowrap>")@Html.Raw(@Model.IntakeTotals[1])@Html.Raw("</td>")
            @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@Model.IntakeTotals[2])@Html.Raw("</td>")
            @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@Model.IntakeTotals[3])@Html.Raw("</td>")
            @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@Model.IntakeTotals[4])@Html.Raw("</td>")
        @Html.Raw("</tr>")

     @Html.Raw("</table>")
</div>
