@model twd_project.ViewModels.PasswordResetModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout_Simple.cshtml";
}

<div class="col-lg-6">
<div class="well">
        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { @class = "bs-example form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>Reset Password</legend>
                <div class="form-group">
                    <label for="NewPassword" class="col-lg-5 control-label">New Password</label>
                    <div class="col-lg-7">                        
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @placeholder = "Enter Password" }) 
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </div>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword" class="col-lg-5 control-label">Password Confirmation</label>
                    <div class="col-lg-7">                        
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Re-Enter Password" }) 
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-5 loglink">
                        <input id="ResetToken" name="ResetToken" type="hidden" value="@ViewBag.ResetToken" />
                        <button type="submit" class="btn btn-primary">Reset</button>
                    </div>
                </div>
                @{ if(ViewBag.Success == true){
                       <p>Your password has been reset. Please @Html.ActionLink("Log In", "Index", "Home")</p>
                   }
                   else if (ViewBag.Fail == true){
                       <p>Your password failed to reset.  Please try again.</p>
                   }                    
                 }
            </fieldset>              
              }
    </div>
    </div>


