@model twd_project.ViewModels.StudentGradeModel

@{
    ViewBag.Title = "StudentGrade";
    Layout = "~/Views/Shared/AdministratorLayout.cshtml";
}

<table class="table table-bordered table-hover pull-left">
    <tr>@{  int modelCount = Model.FirstNames.Count();
            <td colspan="3" style="font-size: 3em">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayFor(model => model.IntakeName)</td>
            for (int i = 3; i < modelCount; i++) {
                @Html.Raw("<td style='text-align:center'>")@Html.Raw(@Model.FirstNames[i])@Html.Raw("<br />") @Html.Raw(@Model.LastNames[i])@Html.Raw("<br />")@Html.Raw(@Model.StudentNos[i])@Html.Raw("</td>")
            }
        }
    </tr>

    @{  foreach (List<string> items in Model.ModuleGroup1) {
            if (@items[0]== "M") {
                @Html.Raw("<tr bgcolor='#D9FCD2'>")
                @Html.Raw("<td nowrap>")@Html.Raw(@items[1])@Html.Raw("</td>")
            } else {
                @Html.Raw("<tr>")
                @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.Raw(@items[1])@Html.Raw("</td>")
            }

            for (int i = 2; i < modelCount + 1; i++) {
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[i])@Html.Raw("</td>")
            }
            @Html.Raw("</tr>")
        } 
    }

    @{  foreach (List<string> items in Model.ModuleGroup2) {
            if (@items[0]== "M") {
                @Html.Raw("<tr bgcolor='#D9FCD2'>")
                @Html.Raw("<td nowrap>")@Html.Raw(@items[1])@Html.Raw("</td>")
            } else {
                @Html.Raw("<tr>")
                @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.Raw(@items[1])@Html.Raw("</td>")
            }


            for (int i = 2; i < modelCount + 1; i++) {
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[i])@Html.Raw("</td>")
            }
            @Html.Raw("</tr>")
        } 
    }

    @{  foreach (List<string> items in Model.ModuleGroup3) {
            if (@items[0]== "M") {
                @Html.Raw("<tr bgcolor='#D9FCD2'>")
                @Html.Raw("<td nowrap>")@Html.Raw(@items[1])@Html.Raw("</td>")
            } else {
                @Html.Raw("<tr>")
                @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.Raw(@items[1])@Html.Raw("</td>")
            }
            

            for (int i = 2; i < modelCount + 1; i++) {
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[i])@Html.Raw("</td>")
            }
            @Html.Raw("</tr>")
        } 
    }
    
    @{  foreach (List<string> items in Model.ModuleGroup4) {
            if (@items[0]== "M") {
                @Html.Raw("<tr bgcolor='#D9FCD2'>")
                @Html.Raw("<td nowrap>")@Html.Raw(@items[1])@Html.Raw("</td>")
            } else {
                @Html.Raw("<tr>")
                @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.Raw(@items[1])@Html.Raw("</td>")
            }
            

            for (int i = 2; i < modelCount + 1; i++) {
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[i])@Html.Raw("</td>")
            }
            @Html.Raw("</tr>")
        } 
    }
    
    @{  foreach (List<string> items in Model.ModuleGroup5) {
            if (@items[0]== "M") {
                @Html.Raw("<tr bgcolor='#D9FCD2'>")
                @Html.Raw("<td nowrap>")@Html.Raw(@items[1])@Html.Raw("</td>")
            } else {
                @Html.Raw("<tr>")
                @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.Raw(@items[1])@Html.Raw("</td>")
            }
            

            for (int i = 2; i < modelCount + 1; i++) {
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[i])@Html.Raw("</td>")
            }
            @Html.Raw("</tr>")
        } 
    }

    @Html.Raw("<tr bgcolor='#FFDBDD'>")

        @Html.Raw("<td nowrap>")@Html.Raw(@Model.IntakeTotals[1])@Html.Raw("</td>")
        @{  for (int i = 2; i < modelCount + 1; i++) {
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@Model.IntakeTotals[i])@Html.Raw("</td>")
            }
        }
    @Html.Raw("</tr>")

</table>