@model twd_project.ViewModels.IntakeGradeModel

@{
    ViewBag.Title = "AdminArea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>&nbsp; &nbsp;&nbsp; &nbsp;@ViewBag.Message</h4>

<table class="table table-bordered table-hover pull-left">
    <tr> @{  int studentCount = Model.Students.Count();
             int intakeCount = Model.Intakes.Count();

             string start = ((DateTime)Model.IntakeO.startDate).ToString("y");
             string end = ((DateTime)Model.IntakeO.endDate).ToString("y");

            @Html.Raw("<td colspan='3' nowrap style='width: 320px;padding-top:18px;' ><span style='font-size: 1.4em;text-align:center;'> &nbsp; &nbsp; &nbsp; &nbsp;") @Html.DisplayFor(model => model.IntakeO.intake1) @Html.Raw(": </span>")
            @Html.Raw("<span style='font-size: 1em;'> &nbsp;") @start @Html.Raw(" - </span>")
            @Html.Raw("<span style='font-size: 1em;'> &nbsp;") @end @Html.Raw("</span>")
            @Html.Raw("<div>")
                @Html.Raw("<form class='pull-left' style='width: 80px; margin: 12px 40px 0 20px;' action='/Admin/ExportCSVReport' method='post' role='form'>")
                    @Html.Raw("<input type='hidden' name='intakeId' value='")@Html.DisplayFor(model =>  model.IntakeO.intakeId) @Html.Raw("'>")
                    @Html.Raw("<input type='hidden' name='intake' value='") @Html.DisplayFor(model =>  model.IntakeO.intake1) @Html.Raw("'>")

                    @Html.Raw("<div class='controls' style='display: block;'>")
					    @Html.Raw("<input type='submit' class='btn btn-primary' value='Export to file' />")
				    @Html.Raw("</div>")

		        @Html.Raw("</form>")
        
                @Html.Raw("<form class='pull-right' style='width: 80px; margin: 12px 80px 0 0;' action='/Admin/EmailStudent' method='post' role='form'>")
                    @Html.Raw("<input type='hidden' name='intakeId' value='")@Html.DisplayFor(model => model.IntakeO.intakeId) @Html.Raw("'>")
                    @Html.Raw("<input type='hidden' name='studentName' value=' '>")
                    @Html.Raw(" <button class='btn btn-primary' data-toggle='modal' data-target='#emailStudentModal' onclick='allStudents()'>Email All Students</button>")
		        @Html.Raw("</form>")
            @Html.Raw("</td>")
            @Html.Raw("</div>")
            for (int i = 0; i < studentCount; i++) {
                @Html.Raw("<td style='text-align:center'>") 
                    @Html.ActionLink(@Model.Students[i].firstName, "StudentArea", "Stu", new { studentUserId = @Model.Students[i].userId }, null) @Html.Raw("<br />")
                    @Html.ActionLink(@Model.Students[i].lastName,  "StudentArea", "Stu", new { studentUserId = @Model.Students[i].userId }, null) @Html.Raw("<br />") 
                    @Model.Students[i].bcitId@Html.Raw("<br />")
                    @Html.Raw("<span id='emailclick' style='width: 150px; color: #3399f3;cursor: pointer;' data-toggle='modal' data-target='#emailStudentModal' onclick='oneStudent()'>Email")  @Html.Raw("</span><br />")
                @Html.Raw("</td>")                
            }
        }
    </tr>

    @{  foreach (List<string> items in Model.ModuleGroup1) {
            if (@items[0]== "M") {
                @Html.Raw("<tr bgcolor='#D9FCD2'>")
                @Html.Raw("<td nowrap>")@Html.Raw(@items[1])@Html.Raw("</td>")
            } else {
                @Html.Raw("<tr>")
                if (@items[0] != " ") {
                    int courseId = Convert.ToInt32(items[0]);
                    @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.ActionLink(@items[1], "SelectEntity", "Instructor", new { intakeId = @Model.IntakeO.intakeId, courseId = courseId }, null)@Html.Raw("</td>")
                } else {
                    @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.Raw(@items[1])@Html.Raw("</td>")
                }
            }

            for (int i = 2; i < studentCount + 4; i++) {
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[i])@Html.Raw("</td>")
            }
            @Html.Raw("</tr>")
        } 
    }

    @{  foreach (List<string> items in Model.ModuleGroup2) {
            if (@items[0]== "M") {
                @Html.Raw("<tr bgcolor='#D9FCD2'>")
                @Html.Raw("<td nowrap>")@Html.Raw(@items[1])@Html.Raw("</td>")
            } else {
                @Html.Raw("<tr>")
                if (@items[0] != " ") {
                    int courseId = Convert.ToInt32(items[0]);
                    @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.ActionLink(@items[1], "SelectEntity", "Instructor", new { intakeId = @Model.IntakeO.intakeId, courseId = courseId }, null)@Html.Raw("</td>")
                } else {
                    @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.Raw(@items[1])@Html.Raw("</td>")
                }
            }

            for (int i = 2; i < studentCount + 4; i++) {
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[i])@Html.Raw("</td>")
            }
            @Html.Raw("</tr>")
        } 
    }

    @{  foreach (List<string> items in Model.ModuleGroup3) {
            if (@items[0]== "M") {
                @Html.Raw("<tr bgcolor='#D9FCD2'>")
                @Html.Raw("<td nowrap>")@Html.Raw(@items[1])@Html.Raw("</td>")
            } else {
                @Html.Raw("<tr>")
                if (@items[0] != " ") {
                    int courseId = Convert.ToInt32(items[0]);
                    @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.ActionLink(@items[1], "SelectEntity", "Instructor", new { intakeId = @Model.IntakeO.intakeId, courseId = courseId }, null)@Html.Raw("</td>")
                } else {
                    @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.Raw(@items[1])@Html.Raw("</td>")
                }
            }

            for (int i = 2; i < studentCount + 4; i++) {
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[i])@Html.Raw("</td>")
            }
            @Html.Raw("</tr>")
        } 
    }
    
    @{  foreach (List<string> items in Model.ModuleGroup4) {
            if (@items[0]== "M") {
                @Html.Raw("<tr bgcolor='#D9FCD2'>")
                @Html.Raw("<td nowrap>")@Html.Raw(@items[1])@Html.Raw("</td>")
            } else {
                @Html.Raw("<tr>")
                if (@items[0] != " ") {
                    int courseId = Convert.ToInt32(items[0]);
                    @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.ActionLink(@items[1], "SelectEntity", "Instructor", new { intakeId = @Model.IntakeO.intakeId, courseId = courseId }, null)@Html.Raw("</td>")
                } else {
                    @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.Raw(@items[1])@Html.Raw("</td>")
                }
            }

            for (int i = 2; i < studentCount + 4; i++) {
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[i])@Html.Raw("</td>")
            }
            @Html.Raw("</tr>")
        } 
    }
    
    @{  foreach (List<string> items in Model.ModuleGroup5) {
            if (@items[0]== "M") {
                @Html.Raw("<tr bgcolor='#D9FCD2'>")
                @Html.Raw("<td nowrap>")@Html.Raw(@items[1])@Html.Raw("</td>")
            } else {
                @Html.Raw("<tr>")
                if (@items[0] != " ") {
                    int courseId = Convert.ToInt32(items[0]);
                    @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.ActionLink(@items[1], "SelectEntity", "Instructor", new { intakeId = @Model.IntakeO.intakeId, courseId = courseId }, null)@Html.Raw("</td>")
                } else {
                    @Html.Raw("<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")@Html.Raw(@items[1])@Html.Raw("</td>")
                }
            }

            for (int i = 2; i < studentCount + 4; i++) {
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@items[i])@Html.Raw("</td>")
            }
            @Html.Raw("</tr>")
        } 
    }

    @Html.Raw("<tr bgcolor='#FFDBDD'>")

        @Html.Raw("<td nowrap>")@Html.Raw(@Model.IntakeTotals[1])@Html.Raw("</td>")
        @{  for (int i = 2; i < studentCount + 4; i++) {
                @Html.Raw("<td nowrap style='text-align:center'>")@Html.Raw(@Model.IntakeTotals[i])@Html.Raw("</td>")
            }
        }
    @Html.Raw("</tr>")

</table>

<!-- ******************* Email Student Modal ******************* -->
<div class="modal fade" id="emailStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px;">
        <div class="modal-content">
            <div style="margin-left:30px;margin-right:50px;margin-top:20px;height:475px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="emailStudentLabel">Email</h3>
            </div>
            
            <div class="modal-body">
                <form id="modalEmailForm" class="form-horizontal" action="/Admin/EmailStudent" method="post" role="form">
                    <input type="hidden" name="intakeId" value="@Html.DisplayFor(model => model.IntakeO.intakeId)">
                    <input type="hidden" id="emailStudentName" name="userName">

			        <div class="control-group">
				        <label for="contact-name" class="control-label">Subject:</label>
					
				        <div class="controls">
					        <input type="text" name="subject"/>
				        </div>
			        </div>

			        <div class="control-group">
				        <label for="contact-message" class="control-label">Message:</label>
					
				        <div class="controls">
					        <textarea name="body" cols="30" rows="10"></textarea>
				        </div>
			        </div><br />
				
			        <div class="control-group">
				        <div class="controls">
					        <input id="sendEmailButton" type="submit" class="btn btn-primary" value="Send Email" />
				        </div>
			        </div>
		        </form>
            </div><!-- /.modal-body -->
            </div><!-- content styling -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
