@model twd_project.Models.BuildModule

@{
    ViewBag.Title = "SelectCourse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Course <small>Select</small>&nbsp;&nbsp;-&nbsp;&nbsp; @Html.DisplayFor(model => model.ModuleName)</h2>
    <hr />
    <br />

    <div class="row">

    <!-- ******************* Navigation ******************* -->
    <div class="col-lg-4 col-lg-offset-1">
        <h4 style="line-height: 1.4em;width:200px;display:inline;"><strong>@Html.ActionLink(@Model.IntakeName, "InstructorArea", new { intakeId = @Model.IntakeId })</strong><br />
            &nbsp;&nbsp;&nbsp;&nbsp;@Model.ModuleName
        </h4><hr style="margin:0;" />
                
        <div class="col-lg-offset-1">
           <table>
                @{  int totalPC = 0;
                    foreach (twd_project.Course item in Model.Courses) {
                        <tr><td class="text-right">@item.courseWeight  % -</td><td>@Html.ActionLink(@item.course1, "SelectEntity", new { courseId = @item.courseId })</td></tr>

                        totalPC += Convert.ToInt32(item.courseWeight);                
                    }   

                    <tr><td>@totalPC.ToString() % -</td><td>Total</td></tr>
                }
            </table>
        </div>
    </div>

        

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Resources/js/buildModule.js")
}
